﻿
@{
    ViewBag.Title = "DigitalMarketing";
    Layout = "~/Areas/Web/Views/Shared/_OsrLayout.cshtml";
}


<!--Mobile contact-->
<div class="popup-modal1">
    <div class="modal" id="menu-popup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="common-heading">
                        <h4 class="mt0 mb0">Write a Message</h4>
                    </div>
                    <button type="button" class="closes" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-block fdgn2 mt10 mb10">
                        <form action="#" method="post" name="feedback-form">
                            <div class="fieldsets row">
                                <div class="col-md-12"><input type="text" placeholder="Full Name" name="name"></div>
                                <div class="col-md-12"><input type="email" placeholder="Email Address" name="email"></div>
                                <div class="col-md-12"><input type="number" placeholder="Contact Number" name="phone"></div>
                                <div class="col-md-12"><input type="text" placeholder="Subject" name="subject"></div>
                                <div class="col-md-12"><textarea placeholder="Message" name="message"></textarea></div>
                            </div>
                            <div class="fieldsets mt20 pb20">
                                <button type="submit" name="submit" class="lnk btn-main bg-btn" data-dismiss="modal">Submit <i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Mobile contact-->
<!--End Header -->
<!--Start Hero-->
<section class="hero-section hero-bg-bg1 bg-gradient1">
    <div class="text-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 v-center">
                    <div class="header-heading">
                        <h1 class="wow fadeInUp" data-wow-delay=".2s"><span class="xhighlight">Greater</span> Faridabad</h1>
                        <p class="wow fadeInUp" data-wow-delay=".4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus, risus sit amet auctor sodales, justo erat tempor eros.</p>
                        <a href="#" class="btn-main bg-btn lnk wow fadeInUp" data-wow-delay=".6s">View Case Studies <i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
                    </div>
                </div>
                <div class="col-lg-6 v-center">
                    <div class="single-image wow fadeIn" data-wow-delay=".5s">
                        <img src="~/lib/UserPanelLIB/images/hero/digital-marketing.png" alt="hero image" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--End Hero-->
<!--Start About-->
<section class="about-agency pad-tb">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 v-center">
                <div class="image-block">
                    <img src="~/lib/UserPanelLIB/images/about/about-service.png" alt="about" class="img-fluid no-shadow" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="common-heading text-l">

                    <h2>Ballabgarh</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum is simply dummy text of the printing and typesetting industry. is simply dummy text of the printing and typesetting industry. </p>
                    <a href="#" class="btn-main bg-btn lnk mt30">Learn More <i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About-->
<!--Start Hero-->
<section class="hero-section hero-bg-bg1 bg-gradient1">
    <div class="text-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 v-center">
                    <div class="header-heading">
                        <h1 class="wow fadeInUp" data-wow-delay=".2s"><span class="xhighlight">Prithla</span> Faridabad</h1>
                        <p class="wow fadeInUp" data-wow-delay=".4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus, risus sit amet auctor sodales, justo erat tempor eros.</p>
                        <a href="#" class="btn-main bg-btn lnk wow fadeInUp" data-wow-delay=".6s">View Case Studies <i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
                    </div>
                </div>
                <div class="col-lg-6 v-center">
                    <div class="single-image wow fadeIn" data-wow-delay=".5s">
                        <img src="~/lib/UserPanelLIB/images/hero/prithla.jpg" alt="hero image" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--End Hero-->
<!--Start About-->
<section class="about-agency pad-tb">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 v-center">
                <div class="image-block">
                    <img src="~/lib/UserPanelLIB/images/about/kosi.jpg" alt="about" class="img-fluid no-shadow" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="common-heading text-l">

                    <h2>Kosikalan (Shani Dham)</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum is simply dummy text of the printing and typesetting industry. is simply dummy text of the printing and typesetting industry. </p>
                    <a href="#" class="btn-main bg-btn lnk mt30">Learn More <i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About-->
<!--Start Service-->
<!--Start work-category-->
<section class="work-category pad-tb tilt3d">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 v-center">
                <div class="common-heading text-l">
                    <span>Nearby</span>
                    <h2>Top Facilities</h2>
                    <p>Successfully delivered digital products Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="work-card-set">
                    <div class="icon-set wow fadeIn" data-wow-delay=".2s">
                        <div class="work-card cd1">
                            <div class="icon-bg"><img src="~/lib/UserPanelLIB/images/icons/icon-1.png" alt="Industries" /></div>
                            <p>Social Networking</p>
                        </div>
                    </div>
                    <div class="icon-set wow fadeIn" data-wow-delay=".4s">
                        <div class="work-card cd2">
                            <div class="icon-bg"><img src="~/lib/UserPanelLIB/images/icons/icon-2.png" alt="Industries" /></div>
                            <p>Digital Marketing</p>
                        </div>
                    </div>
                    <div class="icon-set wow fadeIn" data-wow-delay=".6s">
                        <div class="work-card cd3">
                            <div class="icon-bg"><img src="~/lib/UserPanelLIB/images/icons/icon-3.png" alt="Industries" /></div>
                            <p>Ecommerce Development</p>
                        </div>
                    </div>
                    <div class="icon-set wow fadeIn" data-wow-delay=".8s">
                        <div class="work-card cd4">
                            <div class="icon-bg"><img src="~/lib/UserPanelLIB/images/icons/icon-4.png" alt="Industries" /></div>
                            <p>Video Service</p>
                        </div>
                    </div>
                    <div class="icon-set wow fadeIn" data-wow-delay="1s">
                        <div class="work-card cd5">
                            <div class="icon-bg"><img src="~/lib/UserPanelLIB/images/icons/icon-5.png" alt="Industries" /></div>
                            <p>Banking Service</p>
                        </div>
                    </div>
                    <div class="icon-set wow fadeIn" data-wow-delay="1.2s">
                        <div class="work-card cd6">
                            <div class="icon-bg"><img src="~/lib/UserPanelLIB/images/icons/icon-6.png" alt="Industries" /></div>
                            <p>Enterprise Service</p>
                        </div>
                    </div>
                    <div class="icon-set wow fadeIn" data-wow-delay="1.4s">
                        <div class="work-card cd7">
                            <div class="icon-bg"><img src="~/lib/UserPanelLIB/images/icons/icon-7.png" alt="Industries" /></div>
                            <p>Education Service</p>
                        </div>
                    </div>
                    <div class="icon-set wow fadeIn" data-wow-delay="1.6s">
                        <div class="work-card cd8">
                            <div class="icon-bg"><img src="~/lib/UserPanelLIB/images/icons/icon-8.png" alt="Industries" /></div>
                            <p>Tour and Travels</p>
                        </div>
                    </div>
                    <div class="icon-set wow fadeIn" data-wow-delay="1.8s">
                        <div class="work-card cd9">
                            <div class="icon-bg"><img src="~/lib/UserPanelLIB/images/icons/icon-9.png" alt="Industries" /></div>
                            <p>Health Service</p>
                        </div>
                    </div>
                    <div class="icon-set wow fadeIn" data-wow-delay="2s">
                        <div class="work-card cd10">
                            <div class="icon-bg"><img src="~/lib/UserPanelLIB/images/icons/icon-10.png" alt="Industries" /></div>
                            <p>Event & Ticket</p>
                        </div>
                    </div>
                    <div class="icon-set wow fadeIn" data-wow-delay="2.2s">
                        <div class="work-card cd11">
                            <div class="icon-bg"><img src="~/lib/UserPanelLIB/images/icons/icon-11.png" alt="Industries" /></div>
                            <p>Restaurant Service</p>
                        </div>
                    </div>
                    <div class="icon-set wow fadeIn" data-wow-delay="2.4s">
                        <div class="work-card cd12">
                            <div class="icon-bg"><img src="~/lib/UserPanelLIB/images/icons/icon-12.png" alt="Industries" /></div>
                            <p>Business Consultant</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End  work-category-->
<!--Start Enquire Form-->
<section class="enquire-form pad-tb">
    <div class="container">
        <div class="row light-bgs">
            <div class="col-lg-6">
                <div class="common-heading text-l">
                    <span>Contact Now</span>
                    <h2 class="mt0">Have Question? Write a Message</h2>
                </div>
                <div class="form-block">
                    <form action="#" method="post" name="feedback-form">
                        <div class="fieldsets row">
                            <div class="col-md-6"><input type="text" placeholder="Full Name" name="name"></div>
                            <div class="col-md-6"><input type="email" placeholder="Email Address" name="email"></div>
                        </div>
                        <div class="fieldsets row">
                            <div class="col-md-6"><input type="number" placeholder="Contact Number" name="phone"></div>
                            <div class="col-md-6"><input type="text" placeholder="Subject" name="subject"></div>
                        </div>
                        <div class="fieldsets"><textarea placeholder="Message" name="message"></textarea></div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" checked="checked">
                            <label class="custom-control-label" for="customCheck">I agree to the <a href="javascript:void(0)">Terms &amp; Conditions</a> of Business Name.</label>
                        </div>
                        <div class="fieldsets mt20"> <button type="submit" name="submit" class="lnk btn-main bg-btn">Submit <i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></button> </div>
                        <p class="trm"><i class="fas fa-lock"></i>We hate spam, and we respect your privacy.</p>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 v-center">
                <div class="enquire-image">
                    <img src="~/lib/UserPanelLIB/images/about/hellopic.png" alt="enquire" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Enquire Form-->
