@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Web/Views/Shared/_OsrLayout.cshtml";

}
<!--Mobile contact-->
<div class="popup-modal1">
    <div class="modal" id="menu-popup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="common-heading">
                        <h4 class="mt0 mb0">Write a Message</h4>
                    </div>
                    <button type="button" class="closes" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-block fdgn2 mt10 mb10">
                        <form action="#" method="post" name="feedback-form">
                            <div class="fieldsets row">
                                <div class="col-md-12"><input type="text" placeholder="Full Name" name="name"></div>
                                <div class="col-md-12"><input type="email" placeholder="Email Address" name="email"></div>
                                <div class="col-md-12"><input type="number" placeholder="Contact Number" name="phone"></div>
                                <div class="col-md-12"><input type="text" placeholder="Subject" name="subject"></div>
                                <div class="col-md-12"><textarea placeholder="Message" name="message"></textarea></div>
                            </div>
                            <div class="fieldsets mt20 pb20">
                                <button type="submit" name="submit" class="lnk btn-main bg-btn" data-dismiss="modal">Submit <i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Mobile contact-->
<!--End Header -->
<!--Start Hero-->
<section class="hero-section business-startup">
    <div class="text-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 v-center">
                    <div class="header-heading">
                        <h1 class="wow fadeInUp" data-wow-delay=".2s">Join & Grow With Us</h1>
                        <p class="wow fadeInUp" data-wow-delay=".4s">
                            A SATISFIED CUSTOMER IS BEST
                            BUSINESS STRATEGY OF ALL
                        </p>
                        <a href="#" class="btn-main bg-btn3 lnk wow fadeInUp" data-wow-delay=".6s">GET STARTED<i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
                    </div>
                </div>
                <div class="col-lg-6 v-center">
                    <div class="hero-photo"><img src="~/lib/UserPanelLIB/images/hero/designer-girl-animate.svg" alt="img"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Hero-->
<!--Start Service-->
<section class="dg-service2 pb120 pt0 ">
    <div class="container">
        <div class="row upset ">
            <div class="col-lg-3 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".2s">
                <div class="s-block up-hor pt20">
                    <div class="nn-card-set">
                        <div class="card-icon"><img src="~/lib/UserPanelLIB/images/icons/designer.svg" alt="service" class="img-fluid" /></div>
                        <h4>OUR VISION</h4>
                        <p>Our core vision is to see as much as possible people bieng finacially independent and stress free..</p>
                        <a href="javascript:void(0)">Learn More <i class="fas fa-chevron-right fa-icon"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".4s">
                <div class="s-block up-hor pt20">
                    <div class="nn-card-set">
                        <div class="card-icon"><img src="~/lib/UserPanelLIB/images/icons/mobile-rafiki.svg" alt="service" class="img-fluid" /></div>
                        <h4>OUR MISSION</h4>
                        <p>Our mission is to make people fincacially independent, whether you are a student,..</p>
                        <a href="javascript:void(0)">Learn More <i class="fas fa-chevron-right fa-icon"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".6s">
                <div class="s-block up-hor pt20">
                    <div class="nn-card-set">
                        <div class="card-icon"><img src="~/lib/UserPanelLIB/images/icons/strategy-cuate.svg" alt="service" class="img-fluid" /></div>
                        <h4>BUSINESS PLAN</h4>
                        <p>To make your life easy and financially strong and Helping people to achieve their dreams..</p>
                        <a href="javascript:void(0)">Learn More <i class="fas fa-chevron-right fa-icon"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".8s">
                <div class="s-block up-hor pt20">
                    <div class="nn-card-set">
                        <div class="card-icon"><img src="~/lib/UserPanelLIB/images/icons/growth-ico.svg" alt="service" class="img-fluid" /></div>
                        <h4>OSR REALTER GROWTH</h4>
                        <p>OSR Realtech - No.1 Property Dealing Agency in Faridabad of almost 15 years..</p>
                        <a href="javascript:void(0)">Learn More <i class="fas fa-chevron-right fa-icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Service-->
<section class="about-dg-busign pb120 pt120 bg-light-ylo upset">
    <div class="up-curvs">
        <svg height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 1920 89.3" style="enable-background:new 0 0 1920 89.3;" xml:space="preserve" fill="#e9f5ff">
<path d="M1919.5,89.5H-0.5c0,0,0-90,0-90c114.9,4.8,228.6,17.9,343.6,24.6c118.6,7,237.4,11.9,356.1,14.7
c237.6,5.7,475.3,3.1,712.7-7.7c164.2-7.5,328.1-23.7,492.3-31c0.7,0,15.2-0.5,15.2-0.6C1919.5-0.5,1919.5,89.5,1919.5,89.5z" />
</svg>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 v-center">
                <div class="common-heading-2 text-l">
                    <span class="text-effect-1">We are in the property marketing business for almost 15 years now</span>
                    <h2 class="mb20">Work Together For Success</h2>
                    <p>We are in the property marketing business for almost 15 years now and we immensely love what we do. Providing the right properties to our clients, facilitating a smooth real estate transaction, negotiating a win-win property deal and bringing that satisfying smile on their faces, means the world to us. The joy that it brings to people's lives is the driving force for Om Shanti Realters.</p>
                </div>
            </div>
            <div class="col-lg-6 v-center">
                <img src="~/lib/UserPanelLIB/images/about/finance-cuate.svg" alt="img" class="img-fluid">
            </div>

        </div>
    </div>
    <div class="bottom-curvs">
        <svg height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 1920 89.3" style="enable-background:new 0 0 1920 89.3;" xml:space="preserve" fill="#e9f5ff">
<path d="M1919.5-0.5H-0.5c0,0,0,90,0,90c114.9-4.8,228.6-17.9,343.6-24.6c118.6-7,237.4-11.9,356.1-14.7
c237.6-5.7,475.3-3.1,712.7,7.7c164.2,7.5,328.1,23.7,492.3,31c0.7,0,15.2,0.5,15.2,0.6C1919.5,89.5,1919.5-0.5,1919.5-0.5z" />
</svg>
    </div>
</section>
<!--Start Portfolio-->
<section class="dg-portfolio-section pb120 pt120">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-8">
                <div class="common-heading-2">
                    <span class="text-effect-1">Our Work</span>
                    <h2 class="mb0">Our Latest Project</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 single-card-item wow fadeInUp" data-wow-delay=".2s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="~/lib/UserPanelLIB/images/portfolio/1.jpg" alt="portfolio" class="img-fluid" style="height:300px;"> </a>
                    </div>
                    <div class="item-info">
                        <h4><a href="#"> Greater Faridabad</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 single-card-item  wow fadeInUp" data-wow-delay=".4s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="~/lib/UserPanelLIB/images/portfolio/2.jpg" alt="image" class="img-fluid" style="height:300px;" /> </a>
                    </div>
                    <div class="item-info">
                        <h4><a href="#">Ballabhgarh</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 single-card-item  wow fadeInUp" data-wow-delay=".8s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="~/lib/UserPanelLIB/images/portfolio/3.jpg" alt="image" class="img-fluid" style="height:300px;" /> </a>
                    </div>
                    <div class="item-info">
                        <h4><a href="#">Prithla</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 single-card-item  wow fadeInUp" data-wow-delay="1s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="~/lib/UserPanelLIB/images/portfolio/4.jpg" alt="image" class="img-fluid" style="height:300px;" /> </a>
                    </div>
                    <div class="item-info">
                        <h4><a href="#">Kosikalan</a></h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Portfolio-->
<!--Start Clients-->
<section class="dg-clients-section  bg-flat5 pb120 pt120 upset">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="common-heading-2">
                    <span class="text-effect-1">Our happy customers</span>
                    <h2 class="mb30">Some of Our Partners</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="opl">
                    <ul class="row text-center clearfix">
                        <li class="col-lg-2 col-md-3 col-sm-4 col-6 wow fadeIn" data-wow-delay=".2s">
                            <div class="brand-logo"><img src="~/lib/UserPanelLIB/images/client/logo1.png" alt="clients" class="img-fluid"></div>
                            <p>Shutter, USA</p>
                        </li>
                        <li class="col-lg-2 col-md-3 col-sm-4 col-6 wow fadeIn" data-wow-delay=".4s">
                            <div class="brand-logo"><img src="~/lib/UserPanelLIB/images/client/logo2.png" alt="clients" class="img-fluid"></div>
                            <p>Hipster, USA</p>
                        </li>
                        <li class="col-lg-2 col-md-3 col-sm-4 col-6 wow fadeIn" data-wow-delay=".6s">
                            <div class="brand-logo"><img src="~/lib/UserPanelLIB/images/client/logo3.png" alt="clients" class="img-fluid"></div>
                            <p>Happy, USA</p>
                        </li>
                        <li class="col-lg-2 col-md-3 col-sm-4 col-6 wow fadeIn" data-wow-delay=".8s">
                            <div class="brand-logo"><img src="~/lib/UserPanelLIB/images/client/logo4.png" alt="clients" class="img-fluid"></div>
                            <p>Opera Tours, USA</p>
                        </li>
                        <li class="col-lg-2 col-md-3 col-sm-4 col-6 wow fadeIn" data-wow-delay="1s">
                            <div class="brand-logo"><img src="~/lib/UserPanelLIB/images/client/logo5.png" alt="clients" class="img-fluid"></div>
                            <p>Royale Stone, UK</p>
                        </li>
                        <li class="col-lg-2 col-md-3 col-sm-4 col-6 wow fadeIn" data-wow-delay="1.2s">
                            <div class="brand-logo"><img src="~/lib/UserPanelLIB/images/client/logo6.png" alt="clients" class="img-fluid"></div>
                            <p>QTP, Australia</p>
                        </li>
                        <li class="col-lg-2 col-md-3 col-sm-4 col-6 wow fadeIn" data-wow-delay="1.4s">
                            <div class="brand-logo"><img src="~/lib/UserPanelLIB/images/client/logo7.png" alt="clients" class="img-fluid"></div>
                            <p>PAPA, Malaysia</p>
                        </li>
                        <li class="col-lg-2 col-md-3 col-sm-4 col-6 wow fadeIn" data-wow-delay="1.6s">
                            <div class="brand-logo"><img src="~/lib/UserPanelLIB/images/client/logo8.png" alt="clients" class="img-fluid"></div>
                            <p>Coffee, Australia</p>
                        </li>
                        <li class="col-lg-2 col-md-3 col-sm-4 col-6 wow fadeIn" data-wow-delay="1.8s">
                            <div class="brand-logo"><img src="~/lib/UserPanelLIB/images/client/logo9.png" alt="clients" class="img-fluid"></div>
                            <p>Bakery, India</p>
                        </li>
                        <li class="col-lg-2 col-md-3 col-sm-4 col-6 wow fadeIn" data-wow-delay="2s">
                            <div class="brand-logo"><img src="~/lib/UserPanelLIB/images/client/logo10.png" alt="clients" class="img-fluid"></div>
                            <p>Iconico, India</p>
                        </li>
                        <li class="col-lg-2 col-md-3 col-sm-4 col-6 wow fadeIn" data-wow-delay="2.2s">
                            <div class="brand-logo"><img src="~/lib/UserPanelLIB/images/client/logo11.png" alt="clients" class="img-fluid"></div>
                            <p>Tom N Jerry, UK</p>
                        </li>
                        <li class="col-lg-2 col-md-3 col-sm-4 col-6 wow fadeIn" data-wow-delay="2.4s">
                            <div class="brand-logo"><img src="~/lib/UserPanelLIB/images/client/logo12.png" alt="clients" class="img-fluid"></div>
                            <p>Arch, India</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Clients-->
<!--Start Testinomial-->
<section class="dg-testinomial-section  pb120 pt120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="common-heading-2">

                    <h2 class="mb30">Our Acheivers</h2>
                    <span class="text-effect-1">Full of enterprising spirit OM SHANTI REALTERS founding member & whole time director Mr. Suresh Kumar dixit loved to venture into unknown territories with courage. He began his long journey into the direct selling industry.</span>
                </div>
            </div>
        </div>
        <div class="row mt60">
            <div class="col-lg-12">
                <div class="video-testimonial">
                    <div class="video-review hover-scale mr15">
                        <a class="video-link" href="https://www.youtube.com/watch?v=SZEflIVnhH8?autoplay=1&amp;rel=0">
                            <img src="~/lib/UserPanelLIB/images/client/client-pic.jpg" alt="client" class="img-fluid">
                            <div class="review-vid-details">
                                <div class="-vid-ico"><span class="triangle-play2"></span></div>
                                <p>Mr.Suresh Kumar dixit</p>
                            </div>
                        </a>
                    </div>
                    <div class="video-review hover-scale mr15">
                        <a class="video-link" href="https://www.youtube.com/watch?v=SZEflIVnhH8?autoplay=1&amp;rel=0">
                            <img src="~/lib/UserPanelLIB/images/client/client-pic-a.jpg" alt="client" class="img-fluid">
                            <div class="review-vid-details">
                                <div class="-vid-ico"><span class="triangle-play2"></span></div>
                                <p>Mr. Harish Chandra</p>
                            </div>
                        </a>
                    </div>
                    <div class="video-review hover-scale mr15">
                        <a class="video-link" href="https://www.youtube.com/watch?v=SZEflIVnhH8?autoplay=1&amp;rel=0">
                            <img src="~/lib/UserPanelLIB/images/client/client-pic-a.jpg" alt="client" class="img-fluid">
                            <div class="review-vid-details">
                                <div class="-vid-ico"><span class="triangle-play2"></span></div>
                                <p>Mr.K.P Manav</p>
                            </div>
                        </a>
                    </div>
                    <div class="video-review hover-scale mr15">
                        <a class="video-link" href="https://www.youtube.com/watch?v=SZEflIVnhH8?autoplay=1&amp;rel=0">
                            <img src="~/lib/UserPanelLIB/images/client/client-pic-a.jpg" alt="client" class="img-fluid">
                            <div class="review-vid-details">
                                <div class="-vid-ico"><span class="triangle-play2"></span></div>
                                <p>Mr. J.B. GUPTA</p>
                            </div>
                        </a>
                    </div>







                </div>
            </div>
            <div class="col-lg-6">
                <div class="owl-carousel testimonial-card-a pl25">
                    <div class="testimonial-card">
                        <div class="client-thumbs">
                            <div class="media v-center ">
                                <div class="user-image bdr-radius"><img src="~/lib/UserPanelLIB/images/user-thumb/girl.jpg" alt="girl" class="img-fluid" /></div>
                                <div class="media-body user-info v-center">
                                    <h5>Mike Smith</h5>
                                    <p>Business Owner, <small>Sydney, Australia</small></p>
                                </div>
                                <i class="fas fa-quote-right quote-css"></i>
                            </div>
                        </div>
                        <div class="t-text mt30">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                        <div class="link-reviewrr"><a href="#">Read Project Case Study <i class="fas fa-chevron-right fa-icon"></i></a></div>
                    </div>
                    <div class="testimonial-card">
                        <div class="client-thumbs">
                            <div class="media v-center ">
                                <div class="user-image bdr-radius"><img src="~/lib/UserPanelLIB/images/user-thumb/girl.jpg" alt="girl" class="img-fluid" /></div>
                                <div class="media-body user-info v-center">
                                    <h5>Mike Smith</h5>
                                    <p>Business Owner, <small>Sydney, Australia</small></p>
                                </div>
                                <i class="fas fa-quote-right quote-css"></i>
                            </div>
                        </div>
                        <div class="t-text mt30">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                        <div class="link-reviewrr"><a href="#">Read Project Case Study <i class="fas fa-chevron-right fa-icon"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Testinomial-->
<!--Start Blogs-->
<!--End Blogs-->