﻿
@{
    ViewBag.Title = "MissionVission";
    Layout = "~/Areas/Web/Views/Shared/_OsrLayout.cshtml";
}



<!--Mobile contact-->
<div class="popup-modal1">
    <div class="modal" id="menu-popup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="common-heading">
                        <h4 class="mt0 mb0">Write a Message</h4>
                    </div>
                    <button type="button" class="closes" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-block fdgn2 mt10 mb10">
                        <form action="#" method="post" name="feedback-form">
                            <div class="fieldsets row">
                                <div class="col-md-12"><input type="text" placeholder="Full Name" name="name"></div>
                                <div class="col-md-12"><input type="email" placeholder="Email Address" name="email"></div>
                                <div class="col-md-12"><input type="number" placeholder="Contact Number" name="phone"></div>
                                <div class="col-md-12"><input type="text" placeholder="Subject" name="subject"></div>
                                <div class="col-md-12"><textarea placeholder="Message" name="message"></textarea></div>
                            </div>
                            <div class="fieldsets mt20 pb20">
                                <button type="submit" name="submit" class="lnk btn-main bg-btn" data-dismiss="modal">Submit <i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Mobile contact-->
<!--End Header -->
<!--Breadcrumb Area-->
<section class="breadcrumb-area banner-2">
    <div class="text-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 v-center">
                    <div class="bread-inner">
                        <div class="bread-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Mission and Vision</a></li>
                            </ul>
                        </div>
                        <div class="bread-title">
                            <h2>Mission and Vision</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Breadcrumb-->

<section class="service pad-tb">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="image-block upset bg-shape">
                    <img src="~/lib/UserPanelLIB/images/about/mission.jpg" alt="image" class="img-fluid" />
                </div>
            </div>
            <div class="col-lg-8 block-1">
                <div class="common-heading text-l pl25">
                    <span>Mission</span>
                    <h2>Our Mission</h2>
                    <p>Our mission is to make people fincacially independent, whether you are a student, working professional or house stay person. We provide such a plateform that you can use to earn money from the comfort of your home.</p>

                    <h2>Our Vision</h2>
                    <p>Our core vision is to see as much as possible people bieng finacially independent and stress free. No matter what you gender, age or profession is. We have a mission to see people of India grow and becoming wealthy together.</p>
                    <h5 class="mt20 mb10">Mission Statement</h5>
                    <ul class="list-style-">
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Nullam porta nulla in sapien molestie, ut finibus nisi euismod.</li>
                        <li>Curabitur euismod elit sed venenatis porttitor.</li>
                        <li>Morbi convallis dolor ut tincidunt porttitor.</li>
                        <li>Phasellus eleifend massa non enim elementum, a venenatis erat sollicitudin.</li>
                        <li>Aenean sit amet elit euismod, aliquam quam eu, semper tellus.</li>
                        <li>Maecenas sed ligula tristique, vestibulum tellus nec, dictum nisl.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Start core value-->
<section class="service-block bg-gradient6 pad-tb light-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="common-heading ptag">
                    <span>Values</span>
                    <h2>Niwax's Core Values</h2>
                    <p class="mb30">We think big and have hands in all leading technology platforms to provide you wide array of services.</p>
                </div>
            </div>
        </div>
        <div class="row upset link-hover">
            <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".2s">
                <div class="s-block">
                    <div class="s-card-icon"><img src="~/lib/UserPanelLIB/images/icons/logo-and-branding.svg" alt="service" class="img-fluid" /></div>
                    <h4>Innovation</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".4s">
                <div class="s-block">
                    <div class="s-card-icon"><img src="~/lib/UserPanelLIB/images/icons/service2.svg" alt="service" class="img-fluid" /></div>
                    <h4>Efficiency</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".6s">
                <div class="s-block">
                    <div class="s-card-icon"><img src="~/lib/UserPanelLIB/images/icons/service3.svg" alt="service" class="img-fluid" /></div>
                    <h4>Teamwork</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".8s">
                <div class="s-block">
                    <div class="s-card-icon"><img src="~/lib/UserPanelLIB/images/icons/service4.svg" alt="service" class="img-fluid" /></div>
                    <h4>Customer is King</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay="1s">
                <div class="s-block">
                    <div class="s-card-icon"><img src="~/lib/UserPanelLIB/images/icons/service5.svg" alt="service" class="img-fluid" /></div>
                    <h4>Creativity</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay="1.2s">
                <div class="s-block">
                    <div class="s-card-icon"><img src="~/lib/UserPanelLIB/images/icons/service6.svg" alt="service" class="img-fluid" /></div>
                    <h4> Client Satisfaction</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Service-->
<section class="service pad-tb">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 block-1">
                <div class="common-heading text-l pr25">
                    <span>Vision</span>
                    <h2>Our Vision</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum is simply dummy text of the printing and typesetting industry. is simply dummy text of the printing and typesetting industry. </p>
                    <h5 class="mt20 mb10">Vision Statement</h5>
                    <ul class="list-style-">
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Nullam porta nulla in sapien molestie, ut finibus nisi euismod.</li>
                        <li>Curabitur euismod elit sed venenatis porttitor.</li>
                        <li>Morbi convallis dolor ut tincidunt porttitor.</li>
                        <li>Phasellus eleifend massa non enim elementum, a venenatis erat sollicitudin.</li>
                        <li>Aenean sit amet elit euismod, aliquam quam eu, semper tellus.</li>
                        <li>Maecenas sed ligula tristique, vestibulum tellus nec, dictum nisl.</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="image-block upset bg-shape m-mt30 mb0">
                    <img src="~/lib/UserPanelLIB/images/about/vision.jpg" alt="image" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>
<!--Start CTA-->
<section class="cta-area pad-tb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="common-heading">
                    <span>Let's work together</span>
                    <h2>We Love to Listen to Your Requirements</h2>
                    <a href="javascript:void(0)" class="btn-outline">Estimate Project <i class="fas fa-chevron-right fa-icon"></i></a>
                    <p class="cta-call">Or call us now <a href="tel:+1234567890"><i class="fas fa-phone-alt"></i> (123) 456 7890</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="shape shape-a1"><img src="~/lib/UserPanelLIB/images/shape/shape-3.svg" alt="shape" /></div>
    <div class="shape shape-a2"><img src="~/lib/UserPanelLIB/images/shape/shape-4.svg" alt="shape" /></div>
    <div class="shape shape-a3"><img src="~/lib/UserPanelLIB/images/shape/shape-13.svg" alt="shape" /></div>
    <div class="shape shape-a4"><img src="~/lib/UserPanelLIB/images/shape/shape-11.svg" alt="shape" /></div>
</section>