﻿
@{
    ViewBag.Title = "OutTeam";
    Layout = "~/Areas/Web/Views/Shared/_OsrLayout.cshtml";
}

<!--Mobile contact-->
<div class="popup-modal1">
    <div class="modal" id="menu-popup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="common-heading">
                        <h4 class="mt0 mb0">Write a Message</h4>
                    </div>
                    <button type="button" class="closes" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-block fdgn2 mt10 mb10">
                        <form action="#" method="post" name="feedback-form">
                            <div class="fieldsets row">
                                <div class="col-md-12"><input type="text" placeholder="Full Name" name="name"></div>
                                <div class="col-md-12"><input type="email" placeholder="Email Address" name="email"></div>
                                <div class="col-md-12"><input type="number" placeholder="Contact Number" name="phone"></div>
                                <div class="col-md-12"><input type="text" placeholder="Subject" name="subject"></div>
                                <div class="col-md-12"><textarea placeholder="Message" name="message"></textarea></div>
                            </div>
                            <div class="fieldsets mt20 pb20">
                                <button type="submit" name="submit" class="lnk btn-main bg-btn" data-dismiss="modal">Submit <i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Mobile contact-->
<!--End Header -->
<!--Breadcrumb Area-->
<section class="breadcrumb-area banner-4">
    <div class="text-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 v-center">
                    <div class="bread-inner">
                        <div class="bread-menu">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="#">Team</a></li>
                            </ul>
                        </div>
                        <div class="bread-title">
                            <h2>Our Leaders</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Breadcrumb Area-->
<!--Start Team Leaders-->
<section class="team bg-gradient99 pad-tb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="common-heading ptag">
                    <span>We Are Awesome</span>
                    <h2>Our Managing Directors</h2>
                    <p class="mb0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="full-image-card hover-scale">
                    <div class="image-div"><a href="#"><img src="~/lib/UserPanelLIB/images/team/team-a.jpg" alt="team" class="img-fluid" /></a></div>
                    <div class="info-text-block">
                        <h4><a href="#">S K Dixit</a></h4>
                        <p>Company MD</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="full-image-card hover-scale">
                    <div class="image-div"><a href="#"><img src="~/lib/UserPanelLIB/images/team/team-b.jpg" alt="team" class="img-fluid" /></a></div>
                    <div class="info-text-block">
                        <h4><a href="#">Dr Harish Pal</a></h4>
                        <p>Company CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="full-image-card hover-scale">
                    <div class="image-div"><a href="#"><img src="~/lib/UserPanelLIB/images/team/team-c.jpg" alt="team" class="img-fluid" /></a></div>
                    <div class="info-text-block">
                        <h4><a href="#">Kapil Dixit</a></h4>
                        <p>Company COO</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Team Leaders-->
<!--Start Team Members-->
<section class="team pad-tb deep-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="common-heading ptag">
                    <span>We Are Awesome</span>
                    <h2>Our Team Members</h2>
                    <p class="mb0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="full-image-card hover-scale">
                    <div class="image-div"><a href="#"><img src="~/lib/UserPanelLIB/images/team/team-1.jpg" alt="team" class="img-fluid" /></a></div>
                    <div class="info-text-block">
                        <h4><a href="#">Shakita Daoust</a></h4>
                        <p>UI/UX Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="full-image-card hover-scale">
                    <div class="image-div"><a href="#"><img src="~/lib/UserPanelLIB/images/team/team-2.jpg" alt="team" class="img-fluid" /></a></div>
                    <div class="info-text-block">
                        <h4><a href="#">Gerard Licari</a></h4>
                        <p>UI/UX Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="full-image-card hover-scale">
                    <div class="image-div"><a href="#"><img src="~/lib/UserPanelLIB/images/team/team-3.jpg" alt="team" class="img-fluid" /></a></div>
                    <div class="info-text-block">
                        <h4><a href="#">Teisha Yearta</a></h4>
                        <p>Web Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="full-image-card hover-scale">
                    <div class="image-div"><a href="#"><img src="~/lib/UserPanelLIB/images/team/team-4.jpg" alt="team" class="img-fluid" /></a></div>
                    <div class="info-text-block">
                        <h4><a href="#">Herman Running</a></h4>
                        <p>Web Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="full-image-card hover-scale">
                    <div class="image-div"><a href="#"><img src="~/lib/UserPanelLIB/images/team/team-5.jpg" alt="team" class="img-fluid" /></a></div>
                    <div class="info-text-block">
                        <h4><a href="#">Cary Montgomery</a></h4>
                        <p>Android/IOS Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="full-image-card hover-scale">
                    <div class="image-div"><a href="#"><img src="~/lib/UserPanelLIB/images/team/team-6.jpg" alt="team" class="img-fluid" /></a></div>
                    <div class="info-text-block">
                        <h4><a href="#">Mervin Griego</a></h4>
                        <p>Android/IOS Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="full-image-card hover-scale">
                    <div class="image-div"><a href="#"><img src="~/lib/UserPanelLIB/images/team/team-7.jpg" alt="team" class="img-fluid" /></a></div>
                    <div class="info-text-block">
                        <h4><a href="#">Janna Rother</a></h4>
                        <p>Graphic Desinger</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="full-image-card hover-scale">
                    <div class="image-div"><a href="#"><img src="~/lib/UserPanelLIB/images/team/team-8.jpg" alt="team" class="img-fluid" /></a></div>
                    <div class="info-text-block">
                        <h4><a href="#">Bianca Goers</a></h4>
                        <p>Graphic Desinger</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>